
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Invoice management system</title>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
	.navbar {
		background-color: #41a4bf;
	}
</style>

<body>

<!-- create navigation bar ( header) -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--	<div class="container">-->
<!--		<div class="navbar-header">-->
<!--			<button type="button" class="navbar-toggle collapsed"-->
<!--					data-toggle="collapse" data-target="#navbar"-->
<!--					aria-expanded="false" aria-controls="navbar">-->
<!--				<span class="sr-only">Toggle navigation</span>-->
<!--				<span class="icon-bar"></span> <span-->
<!--					class="icon-bar"></span> <span class="icon-bar"></span>-->
<!--			</button>-->
<!--			<a class="navbar-brand" href="#" th:href="@{/}"  style="color:white;font-size: medium">-->
<!--				Registration and-->
<!--				Login</a>-->
<!--		</div>-->
<!--	</div>-->
<!--</nav>-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #41a4bf;">
	<div class="container" style="float:left;display: flex; flex-direction: row;margin-top:10px;margin-left: 150px">
<!--		<img src="../static/img/payment.png" width="40" height="40"/>-->

		<a class="navbar-brand" style="color:white;margin-left: 10px">Invoice Management System </a>
<!--		<a class="navbar-brand" style="margin-left: 700px;color:white;" href="#" th:href="@{/logout}">Logout </a>-->

	</div>
</nav>



<br><br><br><br><br><br><br>
<div class="container">
	<div class="row" >
		<div class="col-md-6 col-md-offset-3">


			<!-- error message -->
			<div th:if="${param.error}">
				<div class="alert alert-danger">Invalid username or
					password.</div>
			</div>

			<!-- logout message -->
			<div th:if="${param.logout}">
				<div class="alert alert-info"style="background-color: lightgreen;color: darkolivegreen;border-color:lightgreen">
					You have been logged out.</div>
			</div>


			<!--                <form action="#" th:action="@{/login}" th:object="${customer}"-->
			<!--                      method="POST">-->
			<form class="form-signin" th:action="@{/login}" method="post" style="background-color: aliceblue;border-color: aliceblue;border-radius: 15px;border-style: solid;width: 700px;height:350px">
				<h1 style="margin-left: 200px;margin-top: 20px">User Login Page</h1>
				<!--                <div class="form-group">-->
				<label for="username"  style="margin-left: 100px;margin-top: 20px"> Username </label>
				<input type="text" name="username" id="username"
					   class="form-control" placeholder=" " required
					   autofocus="autofocus" style="margin-left: 100px;margin-right: 100px;width: 500px" />
				<!--                </div>-->

				<!--                <div class="form-group">-->
				<label for="password"  style="margin-left: 100px;margin-top: 10px">Password</label>:
				<input type="password" name="password" id="password"
					   class="form-control" placeholder=" " required  style="margin-left: 100px;margin-right: 100px;width: 500px" />
				<!--                </div>-->


				<!--                <div class="form-group">-->
				<!--                    <button type="submit" class="btn btn-primary" id="submit">-->
				<!--                        Login</button>-->
				<!--                    <a th:href="@{/loginUser/username/${customer.username}/password/${customer.password}}" class="btn" style="color:white;background-color: #41a4bf">Login</a>-->
				<button type="submit" class="btn btn-info col-2" style="font-size: 20px;background-color: #41a4bf;margin-top: 25px;margin-left: 100px;margin-right: 100px;width: 500px">Login</button>

				<!--                    <div class="form-group">-->
				<!--                        <a href="/" th:href="@{/listCustomer}"-->
				<!--                           class="btn btn-lg btn-outline-primary btn-block text-uppercase mt-2"></a>-->
				<!--                    </div>-->
				<!--                </div>-->
				<!--                <div class="form-group">-->
				<!--                    <div class="row">-->
				<!--                        <div class="col-sm-6 col-sm-offset-3">-->
				<!--                            <input type="submit" name="login-submit"-->
				<!--                                   id="login-submit"-->
				<!--                                   class="form-control btn btn-primary"-->
				<!--                                   value="Log In" />-->
				<!--                            <div class="form-group">-->
				<!--                                <a href="/" th:href="@{/listCustomer}"-->
				<!--                                   class="btn btn-lg btn-outline-primary btn-block text-uppercase mt-2"></a>-->
				<!--                            </div>-->

				<!--                        </div>-->
				<!--                    </div>-->
				<!--                </div>-->
			</form>
			<div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">
                Register
                  here</a></span>
			</div>
		</div>
	</div>
</div>
</body>
</html>
