<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Customer Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #41a4bf;">
	<div class="container" style="float:left;display: flex; flex-direction: row;flex: 50px">
		<!--			<img th:src="@{../static/img/payment.png}" width="40" height="40"/>-->
		<h3 class="btn fas fa-file-invoice-dollar" style="font-size: 24px;color:white;">  Invoice Management System </h3>
		<div th:if="${isAdmin}" style="">
			<a th:href="@{/listCustomer}" class="btn" style="color:white;background-color: darkmagenta">Show Customers List</a>
			<a th:href="@{/listFiles}" class="btn" style="color:white;background-color: cadetblue">Show Files List</a>
			<a th:href="@{/listInvoice}" class="btn" style="color:white;background-color: crimson">Show Invoices List</a>
		</div>
		<a class="navbar-brand" style="margin-left: 10px;color:white;" href="#" th:href="@{/logout}">Logout </a>

	</div>

</nav>

<body>

	<div class="container" th:if="${isAdmin}">
		<h1>Customer Management System</h1>
		<hr>
		<h2>Save Customer</h2>
		<div th:if="${param.success}">
			<div class="alert alert-info">You've successfully registered
				to our awesome app!</div>
		</div>

		<div th:if="${param.error}">
			<div class="alert alert-danger">username used,try to add customer with another username</div>
		</div>

		<form action="#" th:action="@{/saveCustomer}" th:object="${customer}"
			method="POST">

			<div th:if="${param.error}">
				<div class="alert alert-danger">username used,try to register using another username</div>
			</div>

			<input type="text" th:field="*{firstName}"
				placeholder="Customer First Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastName}"
				placeholder="Customer Last Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{username}"
				placeholder="Customer username" class="form-control mb-4 col-4">

			<input type="password" th:field="*{password}"
				   placeholder="Customer password" class="form-control mb-4 col-4">


			<button type="submit" class="btn btn-info col-2"> Save Customer</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/listCustomer}"> Back to Customer List</a>
	</div>
</body>
</html>