<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Invoice Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Invoice Management System</h1>
		<hr>
		<h2>Save Invoice</h2>


		<form action="#" th:action="@{/saveInvoice}" th:object="${invoice}"
			method="POST">
			<input type="text" th:field="*{title}"
				placeholder="title" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{description}"
				placeholder="description" class="form-control mb-4 col-4">
				
				<input type="date" th:field="*{creationDate}"
				placeholder="creationDate" class="form-control mb-4 col-4">

				<input type="text" th:field="*{total}"
				   placeholder="total" class="form-control mb-4 col-4">
				<button type="submit" class="btn btn-info col-2"> Save Invoice</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/listInvoice}"> Back to Invoices List</a>
	</div>
</body>
</html>