<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Invoice Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #41a4bf;">
	<div class="container" style="float:left;display: flex; flex-direction: row;flex: 50px">
		<!--			<img th:src="@{../static/img/payment.png}" width="40" height="40"/>-->
		<h3 class="btn fas fa-file-invoice-dollar" style="font-size: 24px;color:white;">  Invoice Management System </h3>
		<div th:if="${isAdmin}" style="">
			<a th:href="@{/listCustomer}" class="btn" style="color:white;background-color: darkmagenta">Show Customers List</a>
			<a th:href="@{/listFiles}" class="btn" style="color:white;background-color: cadetblue">Show Files List</a>
			<a th:href="@{/listInvoice}" class="btn" style="color:white;background-color: crimson">Show Invoices List</a>
		</div>
		<a class="navbar-brand" style="margin-left: 10px;color:white;" href="#" th:href="@{/logout}">Logout </a>

	</div>

</nav>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #41a4bf;">
			<div class="container">
				<img th:src="@{/InvoiceManagementSystem/static/img/payment.png}" width="40" height="40"/>
				<a class="navbar-brand" href="#" style="color:white;">Invoice Management System </a>
				<a class="navbar-brand" style="margin-left: 550px;color:white;" href="#" th:href="@{/logout}">Logout </a>

			</div>
		</nav>

	<br>
		<h2>Update Invoice</h2>
<hr>


		<form action="#" th:action="@{/saveInvoice}" th:object="${invoice}"
			  method="POST" style="background-color: aliceblue;border-color: aliceblue;border-radius: 15px;border-style: solid;margin-bottom: 30px;width: 1070px;height: 180px">
			<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 5px;padding-left: 10px;">
				<!-- Add hidden form field to handle update -->
				<div style="float:left;display: flex; flex-direction: row;flex: 50px;padding-top: 10px;padding-left: 10px;">
					<input type="hidden" th:field="*{id}" />

					<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 10px;;">

						<label style="margin-right: 15px">Title</label>
						<input type="text" th:field="*{title}"   style="width: 350px;margin-right: 15px">
					</div>

					<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 10px;padding-left: 10px;">

						<label style="margin-right: 15px">Description</label>
						<input type="text" th:field="*{description}" style="margin-right: 15px">
					</div>

					<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 10px;padding-left: 10px;">

						<label  style="margin-right: 15px">Creation Date</label>
						<input type="date" th:field="*{creationDate}" style="margin-right: 15px">
					</div>

					<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 10px;padding-left: 10px;">

						<label  style="margin-right: 15px">Total</label>
						<input type="number" th:field="*{total}"  disabled='disabled' style="margin-right: 15px">
					</div>
					<!--			<button type="submit" class="btn btn-info col-2"> Update Invoice</button>-->

				</div>
				<div style="float:left;display: flex; flex-direction: column;flex: 50px;padding-top: 10px;padding-left: 10px;">

<!--				<a style="padding-left: 10px;padding-top: 15px" th:href = "@{/listInvoice}"> Back to Invoice List</a>-->
				<button type="submit" class="btn" style="margin-left: 780px;height: 45px;color:white;background-color: #41a4bf"> Update Invoice</button>
				</div>
				</div>


		</form>

		
		<a th:href = "@{/listInvoice}"> Back to Invoice List</a>
<hr>

	</div>
	<div class="container my-2">

		<h2>Invoice Items list</h2>
		<hr>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
			<tr>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
						Name</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
						Price/Unit</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
						Quantity</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=discount&sortDir=' + ${reverseSortDir}}">
						Discount</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=priceafterdiscount&sortDir=' + ${reverseSortDir}}">
						Total Price After Discount</a>
				</th>

				<th> Actions </th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="invoiceitem : ${invoiceItemList}">
				<form th:id="${invoiceitem.id}" style="float:left;display: flex; flex-direction: row;flex: 50px;" th:action="@{/updateItemFromInvoivce/invoiceId/{idInvoice}/InvoiceitemId/{idInvoiceitem}(idInvoice=${invoice.id},idInvoiceitem=${invoiceitem.id})}"></form>
				<td th:text="${invoiceitem.item.name}"></td>
				<td th:text="${invoiceitem.item.price}"></td>
				<td><input type="number" th:form="${invoiceitem.id}" th:value="${invoiceitem.quantity}" style="margin-right: 5px" name="quantity2" id="quantity2" placeholder="quantity"></td>
				<td><input type="number" th:form="${invoiceitem.id}" th:value="${invoiceitem.discount}" style="margin-right: 5px" name="discount2" id="discount2" placeholder="discount"></td>
				<td th:text="${invoiceitem.priceafterdiscount}"></td>

				<!--				<td th:text="${invoiceItem.total}"></td>-->
				<td>
<!--					<a th:href="@{/deleteItemFromInvoivce/invoiceId/{idInvoice}/InvoiceitemId/{idInvoiceitem}(idInvoice=${invoice.id},idInvoiceitem=${invoiceitem.id})}" class="btn btn-danger">-->
<!--						Delete</a>-->
<!--					<a th:href="@{/updateItemFromInvoivce/invoiceId/{idInvoice}/idInvoiceitem/{idInvoiceitem}/q/{q}/d/{d}(idInvoice=${invoice.id},idInvoiceitem=${invoiceitem.id},q=${invoiceitem.quantity},d=${invoiceitem.discount})}" class="btn btn-info">-->
<!--						Update</a>-->
					<input type="submit" th:form="${invoiceitem.id}" value="Update" style="margin-right: 5px;height: fit-content;width:250px;color: white;font-size:24px" class="btn btn-info btn btn-primary fa fa-edit" />
				</td>
				<!--					<a th:href="@{/viewInvoice/{id}(id=${invoice.id})}" class="btn" style="color:white;background-color: limegreen">View</a>-->


			</tr>
			</tbody>
		</table>


		<hr>
		<h2>Items list</h2>

		<form action="#" th:action="@{/saveItem/{idInvoice}(idInvoice=${invoice.id})}" th:object="${newInvoiceItem}" method="POST">
			<input type="text" th:field="*{item.name}" placeholder="name" class="form-control mb-4 col-4">
			<input type="text" th:field="*{item.price}" placeholder="price" class="form-control mb-4 col-4">
			<input type="number" th:field="*{quantity}" value="1" placeholder="quantity" class="form-control mb-4 col-4">
			<input type="number" th:field="*{discount}" value="0" placeholder="discount" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2"> Save Item</button>



		</form>
		<hr>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
			<tr>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
						Title</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
						Price</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=quantity&sortDir=' + ${reverseSortDir}}">
						Quantity</a>
				</th>
				<th>
					<a th:href="@{'/pageInvoice/' + ${currentPage} + '?sortField=discount&sortDir=' + ${reverseSortDir}}">
						Discount</a>
				</th>
				<th> Actions </th>
			</tr>

			</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${listItem}">
				<form th:id="${item.id}" style="float:left;display: flex; flex-direction: row;flex: 50px;"
					  th:action="@{/addItemToInvoivce/invoiceId/{idInvoice}/itemId/{idItem}
				(idInvoice=${invoice.id},idItem=${item.id})}"></form>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td><input type="number" th:form="${item.id}" style="margin-right: 5px" name="quantity1" id="quantity1" placeholder="quantity" th:value="${quantity1}" ></td>
				<td><input type="number" th:form="${item.id}" style="margin-right: 5px" name="discount1" id="discount1" placeholder="discount" th:value="${discount1}" ></td>
				<td><input type="submit" th:form="${item.id}" value="Add item to invoice" style="margin-right: 5px;height: fit-content;width:250px" class="btn btn-info" /></td>

				<!--				<td> <a th:href="@{/updateCustomer/{id}(id=${item.id})}" class="btn btn-primary">Update</a>-->
				<!--					<a th:href="@{/deleteCustomer/{id}(id=${item.id})}" class="btn btn-danger">Delete</a>-->
			</tr>

			</tbody>
		</table>
	</div>





</body>
</html>